/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%
}

a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'helvetica';
  font-weight: 100;
}

#fixednavbar a {
  color: black;
}

#fixednavbar a:hover {
  color: white;
  background-color: black;
}

#fixednavbar a.active {
  color: lightgray;
}

a:hover {
  color: black;
  background-color: white;
}
a.active {
  color: #000;
}

h1{
  font-size: 96px;
  font-weight: 100;
  font-family: 'Poiret One', 'helvetica';
  background: -webkit-linear-gradient(#c0392b, #2980b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.boston {
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blue {
	background-color: #3883d8;
}
.red {
	background-color: #cf3535;
}
.orange {
	background-color: #ea6300;
}

.stuck {
  position:fixed;
  top:0;
}

#navbar {
  margin-top: 40%;
}

#fixednavbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 74px;
  background-color: white;
  color: black;
  display: none;
}

#anchor1, #anchor2, #anchor3, #anchor4 {
  padding: 25px;
}

#iamasaph{
  margin: 0 0 25% 0 ;
}

#intro-anchor{
  float: left;
  height: 74px;
}
