/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Poiret One', 'helvetica';
  font-weight: 100;
}

#fixednavbar a {
  color: black;
  height: 25px;
  float: right;
}

#fixednavbar a:hover {
  color: white;
  background-color: black;
}

#fixednavbar a.active {
  color: lightgray;
}

a:hover {
  color: black;
  background-color: white;
}
a.active {
  color: #000;
}

h1{
  font-size: 96px;
  font-weight: 100;
  font-family: 'Poiret One', 'helvetica';
  color: white;
  /*background: -webkit-linear-gradient(#c0392b, #2980b9);
  -webkit-background-clip: text;
  -webkit-text-fill-colabor: transparent;*/
}

.block { width: 800px; }
.block #navbar {margin: 15% 0 0 0;}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkgray;
  font-size: 54px;
  font-weight: 100;
  font-family: 'Poiret One', 'helvetica';
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.boston {
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stuck {
  position:fixed;
  top:0;
}

#fixednavbar {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 74px;
  background-color: white;
  color: black;
  display: none;
  border-bottom: solid thin darkgray;
}

#anchor1, #anchor2, #anchor3, #anchor4 {
  padding: 25px;
}

#imakethings{
  color: white;
  font-size: 54px;
}

#fixednavbar #intro-anchor{
  float: left;
  height: 74px;
}
